.footer{
    background: #fff;
box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.25);
height: 320px;
border-radius: 14px 14px 0 0 ;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 20px 65px;

}

.footer__shadow-btn{
    background: linear-gradient(39deg, #006dfc 0%, #00c6da 100%);
  color: white;
  border: none;
  width: 100%;
  width: 435px;
  text-align: center;
  font-family: 'Roboto';
  padding: 22px;
  border-radius: 14px;
  font-size: 22px;
  cursor: pointer;
  margin-top: 30px;
}
.footer__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    justify-content: center;
}
.contact .copy_phone{
    font-family: 'Roboto Flex';
font-weight: 400;
font-size: 20px;
color: #000;
width: 250px; 
text-align: right;
}
.contact .copy_mail{
    font-family: 'Roboto Flex';
font-weight: 400;
font-size: 20px;
color: #000;
text-align: left;
width: 250px ; 

}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact button{
    background: none;
    border: none;
    cursor: pointer;
}
.footer__sign{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.footer__sign img{
    width: 200px;
}