@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  min-height: 350vh;
  background: url(./assets//img/bg.jpg);
  background-attachment: fixed;
  background-size: contain;
  font-family: 'Roboto Flex' !important;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;  
}


.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding:0 16px;
}

body{
  overflow-x: hidden;
}
