/* ========== 1300px и меньше (ноутбуки) ========== */
@media (min-width: 1051px) and (max-width: 1300px) {
	.banner {
		align-items: normal;
	}

	.banner__text {
		font-weight: 900;
		font-size: 54px;
		width: 450px;
		font-family: 'Roboto Flex';
	}

	.banner__video .video__slogan {
		font-size: 18px;
	}

	.form-container {
		max-width: 500px;
		height: 500px;
	}

	.submit-button {
		padding: 15px;
	}

	.header .link_list li a {
		font-weight: 500;
		font-size: 16px;
	}

	.shadow__btn {
		padding: 16px 34px;
		font-size: 16px;
	}

	.logo img {
		width: 20vw;
	}
	.for__who{
		width: 95%;
	}
}

/* ========== 1210px и меньше ========== */
@media (max-width: 1210px) {
	.for__who-box h3{
		font-size: 23px;
	}
	.for__who-box p{
		font-size: 13px;
		width: 90%;
	}
	.banner {
		backdrop-filter: blur(1px);
	}
	.form-container {
		max-width: 450px;
		height: 510px;

	}
	.banner__video {
		max-width: 490px;
	}
}

/* ========== 1120px и меньше ========== */
@media (max-width: 1120px) {
	.banner__video {
		max-width: 450px;
	}
}

/* ========== 1050px и меньше ========== */
@media (max-width: 1050px) {
	.for__who{
		margin-top: 10px 	;
		width: 500px;
	}
	.for__who h2{
		font-size: 38px;
	}
	.for__who-box h3{
		font-size: 32px;
	}
	.for__who-box p{
		font-size: 16px;
	}
	.banner__text {
		font-size: 46px;
		max-width: 450px;
	}

	.banner__wrapper {
		width: min-content;
		margin: 0 auto;
	}

	.header .logo img {
		width: 25vw;
	}

	.banner__left {
		gap: 24px;
	}

	.header .link_list li a {
		font-weight: 500;
		font-size: 16px;
	}

	.header .link_list {
		gap: 15px;
	}

	.header {
		padding: 10px;
		justify-content: space-between;
	}

	.shadow__btn {
		padding: 14px 25px;
		font-size: 14px;
	}
}

/* ========== 768px и меньше ========== */
@media (max-width: 768px) {
	
	.logo img{
		width: 30vw !important;
	}

	.header {
		justify-content: space-around;
	}

	.contact-modal{
		max-width: 400px !important;
		flex-direction: column-reverse;
		
	}

	.call-btn{
		position: static;
		margin: 0 auto;
	}

	.header .link_list {
		display: none;
		position: relative;
	}
	.header-mobile-right{
		display: flex;
		align-items: center;
		gap: 20px;
	}
	.header-mobile-right .shadow__btn{
		width: 0;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.header-mobile-right .shadow__btn i{
		font-size: 20px !important;
	}
	.container {
		max-width: 900px;
		width: 100%;
	}

	.banner__text {
		font-size: 40px;
	}

	.banner__video {
		max-width: 450px;
	}
	.for__who{
		width: 500px;
	}
	.for__who-box h3{
		font-size: 32px;
	}
	.for__who-box p{
		font-size: 16px;
	}
}

/* ========== 552px и меньше ========== */
@media (max-width: 552px) {
	.for__who{
		width: 440px;
	}
	.banner__video {
		width: 100%;
	}
	.contact-modal{
		width: 330px;
	}
	.contact-item span a{
		font-size: 16px;
	}
	.contact-item img{
		width: 43px;
	}
	.call-btn{
			padding: 10px 30px;
	}
	.banner__video .video__slogan {
		font-size: 17px;
	}

	.banner__text {
		font-size: 34px;
		max-width: 400px;
	}

	.container {
		max-width: 500px;
	}

	.form-container {
		max-width: 400px;
		height: 470px;
	}

	.form-container h2 {
		font-size: 24px;
	}
	.input-group input{
		border-radius: 14px;
		padding: 10px 25px;
	}
	.PhoneInput .PhoneInputCountry{
		padding: 20px 15px;
	}
	.PhoneInput input{
		padding: 0 10px;
	}
	.dropdown-display span {
		font-size: 16px;
	}
	.banner{
		padding: 16px;
	}
}
@media (max-width:495px) {
	.for__who{
		width: 365px;
	}
	.for__who h2{
		font-size: 28px;
	}
.contact-modal{
		width: 300px;
	}
	.contact-item span a{
		font-size: 14px;
	}
	.contact-item img{
		width: 43px;
	}
	.call-btn{
			padding: 10px 30px;
	}

	.logo img{
		width: 40vw;
	}
	.dropdown-menu li{
		font-size: 16px;
	}
	.banner__text{
		max-width: 330px;
	}
	
	.form-container{
		max-width: 330px;
	}
	.form-container h2{
		max-width: 270px;
		font-size: 18px;
	}
	.input-group input{
		padding: 10px 10px;
		font-size: 16px;
	}

	.PhoneInput .PhoneInputCountry{
		padding: 12px 14px;
	}

	.banner__video{
		max-width: 330px;
		height: 200px;
	}
	.dropdown-display span{
		font-size: 12px;
		padding: 5px 10px;
	}
	.dropdown-arrow{
		width: 40px;
		height: 40px;
	}
	
}

@media (max-width:390px) {
	.for__who{
		width: 285px;
		padding: 16px;
		gap: 16px;
	}
	.for__who h2{
		font-size: 24px;
	}
	.for__who-box p{
		width: 100%;
	}
	.contact-modal{
		width: 250px;
		gap: 5px;
	}
	.contact-item span a{
		font-size: 12px;
	}
	.contact-item img{
		width: 33px;
		height: 45px;
	}
	.call-btn{
		margin-top: 10px;
		padding: 8px 25px;
	}
	.logo img{
		width: 50vw;
	}
	.banner__left{
		gap: 10px;
	}
	.banner__text{
		font-size: 24px;
		max-width: 250px;
	}
	
	.form-container{
		max-width: 250px;
		height: 460px;
	}
	.form-container h2{
		max-width: 220px;
		font-size: 13px;
	}
	.input-group input{
		padding: 12px 8px;
		font-size: 12px;
	}

	.PhoneInput .PhoneInputCountry{
		padding: 5px 10px;
	}

	.banner__video{
		max-width: 250px;
		height: 200px;
	}

	.banner__video .video__slogan{
		font-size: 12px;
	}
	.dropdown__wrapper{
		flex-direction: column;
	}
	.dropdown-display span{
		font-size: 12px;
		padding: 0px 10px;
	}
	.submit-button{
		padding: 10px;
	}
	.dropdown-arrow{
		width: 40px;
		height: 40px;
	}
}
@media (max-width:331px) {
	.banner{
		padding: 10px;
	}
	.banner__left{
		gap: 10px;
	}
	.banner__text{
		font-size: 20px;
		width: 200px;
	}

	.form-container{
		width: 200px;
		padding: 20px 15px;
	}
	.form-container h2{
		font-size: 12px;
		width: 170px;
	}
	.banner__video{
		max-width: 200px;
	}
}
@media (max-width:290px) {
	body{
		display: none;
	}
	
}